:root {
  --color-primary: blue;
  --color-secondary: rgb(13, 253, 5);
  --color-font: #5c555c;
  --color-background: rgb(48, 46, 46);
  --color-exit: red;
  --betslip-width: 32.5rem;
  --betbar-width: 15rem;
  --scrollbar-width: calc(100vw - 100%);
  --navbar-height: 8.365rem;
  --betbar-height: 6.84rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-background);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: .25rem 0;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
  margin-top: 1rem;
}

h3 {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
body {
  font-size: 1.8rem;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
}
}

/* Containers */
.container {
  width: 80%;
  margin: 0 auto;
}

.container--wide {
  width: 90%;
  margin: 0 auto;
}

.container--widest {
  width: 98%;
  margin: 0 auto;
}

/* Buttons */
.btn {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 6px;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.1rem;
  padding: .5rem;
  cursor: pointer;
}

.btn--outline {
  background-color: transparent;
  transition-duration: .2s;
}

.btn--exit {
  position: absolute;
  top: 2%;
  left: 1%;
  border-color: var(--color-exit);
  background-color: transparent;
  border-radius: .3rem;
  font-size: 1.5rem;
  color: var(--color-exit);
  padding: 0 .45rem;
}

.btn--popup {
  font-size: 1.6rem;
  border-color: var(--color-primary);
  width: 50%;
  margin: 3rem auto;
  display: block;
}

.btn:active {
 filter: brightness(75%);
}

/* Lists*/
.list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/* Title */
.title {
  color: var(--color-primary);
}

.title--page {
  text-align: center;
  margin: 0;
  padding: 2rem 0;
}

/* Popup */
.popup {
  background-color: white;
  box-shadow: 0 4px 15px 0 rgb(51, 50, 50);
  width: 85vw;
  max-width: 70rem;
  height: 75vh;
  position: fixed;
  overflow: auto;
  padding: 2rem;
  top: var(--navbar-height);
  bottom: var(--betbar-height);
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(0.1);
  visibility: hidden;
  z-index: 3;
  box-sizing: border-box;
  transition: transform .4s, visibility .05s ease-in-out;
}

/* Body */
.body {
  height: 100%;
  background-color: var(--color-background);
}

.odds__title {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgb(12, 182, 238);
}

.line-descriptions {
  display: flex;
  justify-content: end;
  margin: 0 auto;
}

.line-descriptions__item {
  width: 19.25%;
  text-align: center;
  font-weight: 500;
  color: var(--color-secondary);
}

.line-descriptions__item:last-of-type {
  padding-right: 1.5%;
}

/* Navbar */
.navbar {
  background: linear-gradient(rgb(4, 4, 110), var(--color-primary) 90%);
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1;
}

.navbar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.navbar__brand {
  display: flex;
  align-items: center;
  color: var(--color-secondary);
}

.navbar__logo {
  margin: 0 .5rem 0 0;
  font-size: 2rem;
}

.navbar__btn--login {
  color: var(--color-secondary);
}

.navbar__btn--login:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.navbar__btn--join {
  margin-left: 1rem;
}

.navbar__btn--deposit {
  background-color: rgb(189, 252, 252);
  border-color: var(--color-primary);
  color: var(--color-primary);
  margin-left: 1rem;
}

.navbar__list {
  display: flex;
  justify-content: center;
  padding: .85rem 0;
  margin: 0 auto;
}

.navbar__list-item {
  display: flex;
  align-items: center;
  padding: 0 3%;
}

.navbar__icon {
  width: 3rem;
}

.navbar__icon--baseball {
  padding-right: .3rem;
}

.navbar__icon--ncaaf {
  height: 2.2rem;
  color: white;
}

.navbar__link {
  padding: 0 .3rem;
  color: white;
}

/* Slider */
.slider {
  position: relative;
  height: 55vh;
  width: 100vw;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 5rem;
  color: var(--color-secondary);
  cursor: pointer;
}

.slider__arrow:active {
  font-size: 4rem;
}

.slider__arrow--left {
  left: 3rem;
}

.slider__arrow--right {
  right: 3rem;
}

.slider__title {
  position: absolute;
  top: 1%;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--color-secondary);
  text-shadow: 2px 2px 2px black;
}

.slider__tagline {
  color: cyan;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

.slider__btn {
  position: absolute;
  bottom: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 8rem;
  border-color: black;
}

.slider__dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
}

.dot {
  color: white;
  font-size: 3rem;
  margin: 0 .65rem;
  cursor: pointer;
}

.dot:active {
  transform: scale(.8);
}

.page {
  padding-bottom: var(--betbar-height);
}

@media screen and (min-width: 1024px) {
  .slider {
    width: calc(100vw - var(--betslip-width) - var(--betbar-width) - var(--scrollbar-width));
    margin-left: var(--betbar-width);
  }

  .body {
    width: calc(100vw - var(--betslip-width) - var(--betbar-width) - var(--scrollbar-width) );
    margin-left: var(--betbar-width);
  }

  .page {
    padding-bottom: 2rem;
  }

  .page--home {
    width: calc(100vw - var(--betslip-width) - var(--betbar-width) - var(--scrollbar-width));
    margin-left: var(--betbar-width);
  }
}

/* Box */
.box {
  border: 3px solid var(--color-primary);
  border-radius: .8rem;
  width: 90%;
  margin: 1rem auto;
  background-color: white;
  color: var(--color-font);
  position: relative;
}

.box__team {
  display: flex;
  align-items: center;
  padding: .5rem 0;
  font-size: 1.3rem;
}

.team-logo {
  width: 2.5rem;
}

.box__team-name {
  margin: 0 auto 0 .3rem;
  font-weight: 500;
}

.box__lines {
  display: flex;
  justify-content: center;
  min-width: 60%;
}

.line {
  border: 2px solid lightblue;
  border-radius: .8rem;
  width: 32%;
  height: 4rem;
  padding: 0.2rem;
  margin: 0 .3rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price {
  color: var(--color-primary);
}

.date {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: .3rem;
}

.box__at-symbol {
  position: absolute;
  top: 35%;
  left: .75rem;
  margin: 0;
}

/*Betbar*/

.betbar {
  bottom: 0;
  position: fixed;
  background-color: var(--color-primary);
  width: 100%;
}

.betbar__list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.betbar__list-item {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  max-width: 12rem;
}

.betbar__list-item:hover {
  background-color: var(--color-secondary);
}

.betbar__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  padding: 2.25rem;
  font-size: 1.6rem;
}

.betbar__link:hover {
  color: var(--color-primary);
}

.betbar__bankroll {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 500;
  top: .5rem;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  color: var(--color-secondary);
}

.betbar__link:hover > .betbar__bankroll {
  color: var(--color-primary);
}

.betslip__count {
  position: absolute;
  color: blue;
  font-weight: 500;
  top: 3%;
  left: 10%;
  background: var(--color-secondary);
  border-radius: 50%;
  padding: .15rem .55rem;
  visibility: hidden;
}

.betslip__link:hover > .betslip__count {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .betbar {
    height: calc(100vh - var(--navbar-height));
    left: 0;
    width: var(--betbar-width);
  }

  .betbar > .container--widest {
    width: 100%;
    height: 100%;
  }

  .betbar__list {
    flex-direction: column;
    height: 100%;
  }

  .betbar__list-item {
    height: 20vh;
    width: 100%;
    max-width: 100%;
  }

  .betbar__link {
    font-size: 2rem;
  }

  .betbar__bankroll {
    font-size: 1.8rem;
  }

  .betslip__count {
    top: -10%;
  }
}

/* Betslip */
.betslip {
  min-height: calc(100vh - var(--navbar-height) - var(--betbar-height));
  background-color: rgb(189, 252, 252);
}

.betslip__message {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.betslip__button {
  font-size: 1.7rem;
  border-color: var(--color-primary);
  padding: .75rem;
  width: 50%;
  max-width: 20rem;
  display: block;
  margin: 1.5rem auto;
}

@media screen and (min-width: 1024px) {
  .betslip {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - var(--navbar-height));
    top: var(--navbar-height);
    right: 0;
    box-sizing: border-box;
    width: var(--betslip-width);
    border-left: .5rem solid var(--color-primary);
  }
}

/* Slip */
.slip {
  border-color: var(--color-secondary);
  padding: 1.5rem 0;
}

.slip__btn--exit {
  font-size: 1.2rem;
  padding: 0 .3rem;
}

.slip__line-numbers {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
}

.slip__price {
  color: var(--color-primary);
}

.slip__line-type {
  margin-top: 0;
  font-weight: 500;
}

.slip__matchup-info {
  font-size: 1.3rem;
  padding: 1rem 0;
}

/* Slip Form */

.slip__form {
  display: flex;
  align-items: center;
}

.wager-label {
  font-size: 2rem;
  font-weight: bold;
}

.wager-input {
  width: 9rem;
  padding: .25rem;
}

.wager-output {
  font-size: 2rem;
  font-weight: bold;
}

.wager-output__amount {
  color: var(--color-primary)
}

/* Login */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
}

.join-link {
  font-size: 1.5rem;
  color: blue;
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 2rem;
}

/* Join */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
}

/* Deposit */
.deposit-container {
  display: flex;
  align-items: center;
  margin: 5rem 0 1rem;
}

.deposit__input {
  width: 15rem;
  margin-left: .5rem;
}

/* BetConfirm */
.bet-confirm {
  height: 65vh;
  color: red;
  font-size: 2rem;
  font-weight: 500;
}

.bet-confirm__error {
  padding: 1.5rem 0;
}

.bet-confirm__title {
  font-size: 3.5rem;
  padding-bottom: 2rem;
  text-align: center;
}

/* BetConfirmBox */
.bet-confirm__box {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid black;
}

.wager__amount {
  font-weight: bold;
}

.wager__amount > span{
  color: blue;
}

.bet-confirm__totals {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.bet-confirm__total > span {
  color: blue;
}

.flex {
  display: flex;
  justify-content: center;
}

/* Account */
.account {
  min-height: calc(100vh - var(--navbar-height) - var(--betbar-height));
  background-color: white;
  padding: 2rem 0 4rem;
}

.account__name {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 1rem 0;
}

.account__bankroll {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-primary);
  padding-bottom: 3rem;
}

.bets__title {
  font-size: 3rem;
  color: var(--color-primary);
  padding-bottom: 1rem;
}

.account__message {
  font-weight: 500;
}

.account__btn {
  border-color: var(--color-primary);
  color: var(--color-primary);
  font-size: 2rem;
  width: 50%;
  max-width: 20rem;
  margin: 3rem auto 0;
  display: block;
}

.account__btn:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  .account {
    width: calc(100vw - var(--betbar-width) - var(--betslip-width) - var(--scrollbar-width));
    margin-left: var(--betbar-width);
    min-height: calc(100vh - var(--navbar-height));
  }
}










