:root {
  --color-primary: blue;
  --color-secondary: rgb(13, 253, 5);
  --color-font: #5c555c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(48, 46, 46);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: .25rem 0;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
body {
  font-size: 1.8rem;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
}
}

/* Containers */
.container {
  width: 80%;
  margin: 0 auto;
}

.container--wide {
  width: 90%;
  margin: 0 auto;
}

.container--widest {
  width: 98%;
  margin: 0 auto;
}

/* Buttons */
.btn {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 6px;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.1rem;
  padding: .5rem;
  cursor: pointer;
}

/* Lists*/
.list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/* Body */
.body {
  height: 100%;
  padding-bottom: 5rem;
}

.title {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgb(12, 182, 238);
}

.line-descriptions {
  display: flex;
  justify-content: end;
  padding-right: 1.2rem;
}

.line-descriptions__item {
  width: 5.5rem;
  text-align: center;
  font-weight: 500;
  color: var(--color-secondary);
}

/* Navbar */
.navbar {
  background: linear-gradient(rgb(4, 4, 110), var(--color-primary) 90%);
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1;
}

.navbar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.navbar__brand {
  display: flex;
  align-items: center;
  color: var(--color-secondary);
}

.navbar__logo {
  margin: 0 .5rem 0 0;
  font-size: 2rem;
}

.navbar__btn--login {
  background-color: transparent;
  color: var(--color-secondary);
}

.navbar__btn--join {
  margin-left: 1rem;
}

.navbar__list {
  display: flex;
  justify-content: center;
  padding: .85rem 0;
  width: 95%;
  margin: 0 auto;
}

.navbar__list-item {
  display: flex;
  align-items: center;
  padding: 0 1.1rem;
}

.navbar__icon {
  width: 3rem;
}

.navbar__icon--baseball {
  padding-right: .3rem;
}

.navbar__icon--ncaaf {
  height: 2.2rem;
  color: white;
}

.navbar__link {
  padding: 0 .3rem;
  color: white;
}

/* Box */
.box {
  border: 3px solid var(--color-primary);
  border-radius: .8rem;
  width: 90%;
  margin: 1rem auto;
  background-color: white;
  color: var(--color-font);
  position: relative;
}

.box__team {
  display: flex;
  align-items: center;
  padding: .5rem 0;
  font-size: 1.3rem;
}

.team-logo {
  width: 2.5rem;
}

.box__team-name {
  margin: 0 auto 0 .3rem;
  font-weight: 500;
}

.box__lines {
  display: flex;
  justify-content: center;
}

.line {
  border: 2px solid lightblue;
  border-radius: .8rem;
  width: 4.75rem;
  height: 4rem;
  padding: .2rem;
  margin: 0 .3rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price {
  color: var(--color-primary);
}

.date {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: .3rem;
}

.box__at-symbol {
  position: absolute;
  top: 35%;
  left: .75rem;
  margin: 0;
}

/*Betbar*/

.betbar {
  bottom: 0;
  position: fixed;
  overflow: hidden;
  background-color: blue;
  width: 100%;
  display: flex;
  justify-content: center;
}

.betbar__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.betbar__list-item {
  position: relative;
  padding: 1.5rem 1.75rem;
}

.betbar__link {
  color: white;
  font-size: 2rem;
}

.betslip__count {
  position: absolute;
  color: white;
  top: -2%;
  left: 2%;
  background: var(--color-primary);
  border-radius: 50%;
  padding: .15rem .55rem;
  visibility: hidden;
}

/* Betslip */
.betslip {
  min-height: 100vh;
  background-color: rgb(189, 252, 252);
  padding-bottom: 1rem;
}

.betslip__title {
  color: var(--color-primary);
  text-align: center;
  margin: 0;
  padding: 2rem 0;
}

.betslip__message {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

/* Slip */
.slip {
  border-color: var(--color-secondary);
  padding: 1.5rem 0;
}

.slip:last-of-type {
  margin-bottom: 0;
}

.slip__btn--exit {
  position: absolute;
  top: 2%;
  left: 1%;
  border: 2px solid red;
  background-color: transparent;
  border-radius: .3rem;
  font-size: 1.2rem;
  color: red;
  padding: 0 .3rem;
}

.slip__line-numbers {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
}

.slip__price {
  color: var(--color-primary);
}

.slip__line-type {
  margin-top: 0;
  font-weight: 500;
}

.slip__matchup-info {
  font-size: 1.3rem;
  padding: 1rem 0;
}

.slip__form {
  display: flex;
  align-items: center;
}

.wager-label {
  font-size: 2rem;
  font-weight: bold;
}

.wager-input {
  width: 9rem;
  padding: .25rem;
}

.wager-output {
  font-size: 2rem;
  font-weight: bold;
}

.wager-output__amount {
  color: var(--color-primary)
}






